@model MatchDayAnalyzerFinal.Models.ClassModels.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpponentTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpponentTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeamScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="col">
    <h3>Players participated in this match</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Price to pay per player</th>
                <th>Total Goals</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.AttendanceSheets != null)
            {
                @foreach (var game in Model.AttendanceSheets)
                {
                    @if (game != null)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => game.Player.Name)</td>
                            <td>@Html.DisplayFor(modelItem => game.PriceToPayPerPlayer)</td>
                            <td>@Html.DisplayFor(modelItem => game.MatchGoal)</td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No players in the team.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
